<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Google Font Roboto -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i,900" rel="stylesheet">
	<!-- Shortcut Icon TBD -->
	<link rel="shortcut icon" href="#"/>
	<!-- Page title handled by handlebars -->
	<title>{{page.title}}</title>
	<!-- Mapbox CDN -->
	<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
	<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
	<!-- Stylesheet -->
	<!-- FOR NOW COMMENTED OUT SINCE SASS NOT COMPILED -->
	<!-- <link rel="stylesheet" href="styles/styles.css"/> -->
</head>
<body>
	{{{body}}}

	<script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</body>
</html>